Repository TimefoldAI/timefold-solver, pull requests merged in 2024-02, with the labels that each got.

#614 fix: nearby selection pinning support
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/domain/entity/descriptor/EntityDescriptor.java
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/heuristic/selector/common/iterator/UpcomingSelectionIterator.java
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/heuristic/selector/move/generic/list/OriginalListChangeIterator.java
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/heuristic/selector/move/generic/list/RandomListChangeIterator.java
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/heuristic/selector/move/generic/list/RandomSubListChangeMoveIterator.java
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/heuristic/selector/move/generic/list/kopt/KOptListMoveIterator.java
  core/core-impl/src/main/java/ai/timefold/solver/core/impl/score/director/AbstractScoreDirector.java
  core/core-impl/src/test/java/ai/timefold/solver/core/impl/heuristic/selector/move/generic/list/kopt/KOptListMoveTest.java
  core/core-impl/src/test/java/ai/timefold/solver/core/impl/heuristic/selector/move/generic/list/kopt/TwoOptListMoveTest.java
  core/core-impl/src/test/java/ai/timefold/solver/core/impl/testdata/domain/list/pinned/index/TestdataPinnedWithIndexDistanceMeter.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/TimefoldAutoConfigurationTest.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/TimefoldMultipleSolverAutoConfigurationTest.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/dummy/MultipleEasyScoreConstraintSpringTestConfiguration.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/dummy/MultipleIncrementalScoreConstraintSpringTestConfiguration.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/dummy/chained/constraints/easy/DummyChainedSpringEasyScore.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/dummy/chained/constraints/incremental/DummyChainedSpringIncrementalScore.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/dummy/normal/constraints/easy/DummySpringEasyScore.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/dummy/normal/constraints/incremental/DummySpringIncrementalScore.java
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/easyScoreSolverConfig.xml
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/incrementalScoreSolverConfig.xml
Labels: bug, regression

#635 docs: fix incorrect links
  docs/src/modules/ROOT/pages/constraints-and-score/performance.adoc
  docs/src/modules/ROOT/pages/constraints-and-score/score-calculation.adoc
  docs/src/modules/ROOT/pages/quickstart/.quickstart.adoc
  docs/src/modules/ROOT/pages/quickstart/overview/overview-quickstarts.adoc
  docs/src/modules/ROOT/pages/quickstart/quarkus-vehicle-routing/quarkus-vehicle-routing-quickstart.adoc
  docs/src/modules/ROOT/pages/quickstart/quarkus-vehicle-routing/vehicle-routing-constraints.adoc
  docs/src/modules/ROOT/pages/quickstart/quarkus-vehicle-routing/vehicle-routing-model.adoc
  docs/src/modules/ROOT/pages/quickstart/quarkus-vehicle-routing/vehicle-routing-solution.adoc
  docs/src/modules/ROOT/pages/using-timefold-solver/modeling-planning-problems.adoc
Labels: component/docs

#637 chore: Improving loading error messages for YAML files
  quarkus-integration/quarkus/deployment/pom.xml
  quarkus-integration/quarkus/deployment/src/test/java/ai/timefold/solver/quarkus/TimefoldProcessorMultipleSolversYamlTest.java
  quarkus-integration/quarkus/deployment/src/test/java/ai/timefold/solver/quarkus/TimefoldProcessorSolverYamlTest.java
  quarkus-integration/quarkus/deployment/src/test/resources/ai/timefold/solver/quarkus/multiple-solvers/application.yaml
  quarkus-integration/quarkus/deployment/src/test/resources/ai/timefold/solver/quarkus/single-solver/application.yaml
  spring-integration/spring-boot-autoconfigure/pom.xml
  spring-integration/spring-boot-autoconfigure/src/main/java/ai/timefold/solver/spring/boot/autoconfigure/config/SolverProperties.java
  spring-integration/spring-boot-autoconfigure/src/main/java/ai/timefold/solver/spring/boot/autoconfigure/config/TerminationProperties.java
  spring-integration/spring-boot-autoconfigure/src/main/java/ai/timefold/solver/spring/boot/autoconfigure/config/TimefoldProperties.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/TimefoldAutoConfigurationTest.java
  spring-integration/spring-boot-autoconfigure/src/test/java/ai/timefold/solver/spring/boot/autoconfigure/TimefoldMultipleSolverAutoConfigurationTest.java
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/multiple-solvers/application.yaml
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/multiple-solvers/invalid-application.yaml
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/multiple-solvers/invalid-termination-application.yaml
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/single-solver/application.yaml
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/single-solver/invalid-application.yaml
  spring-integration/spring-boot-autoconfigure/src/test/resources/ai/timefold/solver/spring/boot/autoconfigure/single-solver/invalid-termination-application.yaml
Labels: bug, component/spring, component/quarkus
